
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CloudHouse</title>
    {% load static %}
    {% load socialaccount %}
    {% providers_media_js %}
    <link rel="shortcut icon" type="image/jpg" href="{% static 'website/img/favicon.png' %}"
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{% static 'website/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/templatemo-style.css' %}" />
<!--
Parallo Template
https://templatemo.com/tm-534-parallo
-->
  </head>
  <body>

    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'website/img/bg-01.jpg' %}">
      <div class="container-fluid">
        <div class="row tm-brand-row">
		<div class="col-lg-8 col-1"></div>
          <div class="col-lg-4 col-1">
            <div class="tm-brand-container-login">
              <i class="fa-2x fa fa-cloud tm-brand-icon"></i>
              <div class="tm-brand-texts">
                <h1 class="tx-brand-lowercase tm-brand-name">CloudHouse</h1>
                <p class="tx-brand-tagline-lowercase">A Cloud Developers Company</p>
              </div>
            </div>
          </div>
		  
        </div>

        <section class="row" id="tmHome">
          <div class="col-12 tm-home-container">
            <div class="text-white tm-home-left">
			<!--
              <p class="text-uppercase tm-slogan">We can develop</p>
              <hr class="tm-home-hr" />
              <h2 class="tm-home-title">Mobile App for Your Business</h2>
              <p class="tm-home-text">
                Some catchy line here -- Virendra

              </p>
              <a href="#tmFeatures" class="btn btn-primary">Learn More</a>
			  -->
			  {{user}}
			  <a href="{% provider_login_url "google" %}">
				<img src="{% static 'website/img/btn_google_signin_light_normal_web.png' %}" alt ="Sign In with Google"/>
			  </a>
            </div>
            <div class="tm-home-right">
              <img src="{% static 'website/img/mobile-screen.png' %}" alt="App on Mobile mockup" />
            </div>
          </div>
        </section>

        <!-- Features -->
		<!--
        <div class="row" id="tmFeatures">
          <div class="col-lg-4">
            <div class="tm-bg-white-transparent tm-feature-box">
            <h3 class="tm-feature-name">High Performance</h3>
            
            <div class="tm-feature-icon-container">
                <i class="fas fa-3x fa-server"></i>
            </div>

            <p class="text-center">Download and use this layout for your sites. Total 5 HTML pages included.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="tm-bg-white-transparent tm-feature-box">
                <h3 class="tm-feature-name">Fast Support</h3>

                <div class="tm-feature-icon-container">
                    <i class="fas fa-3x fa-headphones"></i>
                </div>
                <p class="text-center">You are allowed to use this for commercial purpose or personal site.
                </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="tm-bg-white-transparent tm-feature-box">
                <h3 class="tm-feature-name">App Marketing</h3>

                <div class="tm-feature-icon-container">
                    <i class="fas fa-3x fa-satellite-dish"></i>
                </div>
                <p class="text-center">You are NOT allowed to redistribute this template on any download site.
                </p>
            </div>
          </div>
        </div>
        <!-- Call to Action -->
		<!--
        <section class="row" id="tmCallToAction">
          <div class="col-12 tm-call-to-action-col">
            <img src="{% static 'website/img/call-to-action.jpg' %}" alt="Image" class="img-fluid tm-call-to-action-image" />
            <div class="tm-bg-white tm-call-to-action-text">
              <h2 class="tm-call-to-action-title">Images by Unsplash</h2>
              <p class="tm-call-to-action-description">
                You may browse <a rel="nofollow" href="https://www.toocss.com">Too CSS</a> website for the collection of CSS templates for your projects. Aliquam erat volutpat. Nulla eros est,
                imperdiet vel feugiat non, ullamcorper mattis nulla.
              </p>
              <form action="#" method="get" class="tm-call-to-action-form">                
                <input name="email" type="email" class="tm-email-input" id="email" placeholder="Email" />
                <button type="submit" class="btn btn-secondary">Get Updates</button>
              </form>
            </div>
          </div>
        </section>
		-->

        <!-- Page footer -->
        <footer class="row">
          <p class="col-12 text-white text-center tm-copyright-text">
            Copyright &copy; 2020 App Landing Page. 
            Designed by <a href="#" class="tm-copyright-link">cloudhouse India Pvt Ltd.</a>
          </p>
        </footer>
      </div>
      <!-- .container-fluid -->
    </div>

    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/parallax.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  </body>
</html>